body {
  width: 1440px;
  height: 2476px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
list-style-type: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
background-color: #EEEEEE;
min-height: 118px;
}

.main-navigation {
margin-right: 143px;
margin-left: 140px;
display: flex;
width: 1120px;
text-transform: uppercase;
font-size: 16px;
color: #000000;
line-height: 30px;
font-weight: 500;
}

.main-header-logo {
display: flex;
justify-content: flex-start;
margin-top: 49px;
}

.basket {
margin-right: 25px;
margin-bottom: 20px;
}

.link_detail_basket {
display: flex;
justify-content: flex-end;
margin-top: 75px;
}

.site-navigation {
width: 1000px;
min-height: 30px;
display: flex;  
justify-content: center;
margin-top: 75px;
}

.link_detail1 {
margin-right: 45px; 
}

.link_detail2 {
margin-right: 45px; 
}

.link_detail3 {
margin-right: 45px; 
}


.about_us {
display: grid;
grid-template-columns: 1fr 2fr;
background-color: #EEEEEE;
width: 1440px;
margin-bottom: 80px;
}

.slogan {
margin-left: 140px;
font-size: 55px;
line-height: 55px;
color: #000000;
font-weight: 500;
margin-top: 87px;
}

.slogan-small {
margin-left: 140px;
font-size: 16px;
line-height: 24px;
color: #283136;
font-weight: normal;
margin-top: 25px;
margin-bottom: 38px;
}

.learn_more {
margin-left: 140px;
background-color: #FB565A;
color: #FFFFFF;
font-size: 16px;
line-height: 18px;
border-radius: 3px;
font-weight: 500;
}

.slider {
margin-top: 9px;
}

.more_details {
width: 1100px;
display: flex;
margin-left: 140px: 
}

.order1 {
margin-right: 100px; 
}

.order2 {
margin-right: 100px;
}

.our_service1 {
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #FB565A;
border-radius: 3px;
text-transform: uppercase;
margin-right: 100px;
}

.our_service2 {
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #00CA74;
border-radius: 3px;
text-transform: uppercase;
margin-right: 100px;
}


.our_service3 {
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #EFC849;
border-radius: 3px;
text-transform: uppercase;
margin-right: 100px;
}

.more_details2 {
display: grid;
grid-template-columns: 2fr 1fr;
width: 1160px;
}

.slogan2 {
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: #000000;
}

.slogan3 {
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.making_orders {
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #283136;
text-transform: uppercase;
}

.product_list {
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.accuracy {
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #000000;
text-transform: uppercase;
}

.percent {
font-weight: bold;
font-size: 45px;
line-height: 64px;
color: #000000;
}

.indicator {
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #283136;
}

.cooperation {
display: flex;
width: 1160px;
}


.card {
margin: 0 auto;
}


.nerds_english {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: #000000;
}

.address {
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #666666;
}

.telephone {
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #666666;
}

.write_us {
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #FB565A;
border-radius: 3px;
text-transform: uppercase;
}

.on_friendship {
margin-right: 143px;
margin-left: 140px;
}

.social_network {
display: flex;
flex-direction: row;
}


.friend_request {
margin-right: 139px : 
font-weight: bold;
font-size: 36px;
line-height: 36px;
color: #000000;
}

.discount_offer {
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #444444;
}

/* Catalog*/
.directory {
display: flex;
justify-content: center;
background-color: #EEEEEE;
height: 241px;
}

.directory_name {
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: #000000;
text-align: center;
margin-right: 356px;

}

.shop {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 41px;
}


.product {
 margin-top: 500px;
}


.product-sedona {
  background-color: #666666;
}

.sedona {
 text-align: center;
 width: 359px;
}


.sedona-name {
font-weight: bold;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
text-transform: uppercase;
}

.sedona-desc {
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #666666;
}

 .sedona-buy {
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
background-color: #FB565A;
border-radius: 3px;
 }

.first_pegination {
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background: rgba(0, 0, 0, 0.0001)
border: 3px solid #DBDBDB;
box-sizing: border-box;
border-radius: 3px;
}
                
.rest_pegination {
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #EEEEEE;
border-radius: 3px;
}

.next_pegination {
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
background-color: #EEEEEE;
border-radius: 3px;
text-transform: uppercase;
}



